@media print {
    
*{
    background: white;
}
    
#home {
    margin: 0px 0px 0px 100px;
}    
    
.tm-sidebar, #about, .heading, .blocks, #ideas, .img-fluid, #contact {
    display: none;
}
    
.padding-medium .tm-section-title {
    color: blue;
}
.tm-section-description {
    text-indent: 1.5em; 
}

.flex-2-col {
    display: flex;
    align-items: center;
}
    
h2 + p {
    font-style: italic;
}

.padding-medium {
    padding-left: 150px;
    padding-right: 75px;
    margin-top: -40px;
}
    
.flex-item img {
    width: 175px;
    height: 175px;
    display: block;
    margin: auto;   
}
    
.tm-section-title-box:hover {
    background: blue;
    color: white;
    font-weight: bold;
}
    
p::first-letter {
    color: #87CEFA;
    font-size: 30px;
}
    
.tm-footer {
    margin-top: -100px;
    margin-left: 100px;
}
}

@media screen {
    
.flex-2-col {
    display: flex;
}
    
.flex-item img {
    width: 750px;
    height: 675px;
     
}
.padding-medium {
    margin: auto;
}
.tm-section-title-box:hover {
    background: rgb(90, 209, 209);
    color: white;
    font-weight: bold;
}
    
p::first-letter {
    color: #87CEFA;
    font-size: 30px;
}

section {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
    
section::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 250px 0 0;
    border-color: #a4cffc transparent transparent transparent
}
    
.tm-sidebar {
    border-bottom: 1px solid grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.tm-content-box {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tm-banner {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid grey;
}

.margin-b-10 {
    background: #eaeaea;
}
.tm-banner-inner {
    background: white;
}
    
.tm-section-title {
    color: gainsboro;
    letter-spacing: 5px;
}

h2 + p {
    font-style: italic;
}

p {
    line-height: 2em;
}

.tm-section-description {
    text-indent: 1.5em; 
}

.tm-section-title{
    color: gainsboro;
    letter-spacing: 5px;
}

.padding-medium a {
    color: black;
}

.padding-medium a:visited {
    text-decoration: underline;
}

.padding-medium a:hover{
    border-bottom: 1px double #79b6f4;
    color: #79b6f4;
}

.text::after{
    content: "New";
    vertical-align: super;
    color: red;
    font-size: 11px;
}

.blocks {
    background: #e6eaed;
} 
    
.box-work:nth-child(2n) {
    background: #e6eaed;
}

.box-work {
    padding: 5px;
}

.box-work p::first-letter {
    color: black;
    font-size: 30px;
}

#contact_email::after {
    content:"*";
    font-weight:bold;
}

.submit-btn {
    margin-left: 943px;
    background: white;
    border-radius: 0px;
    border: 1px solid #79b6f4;
    color: #79b6f4;
}

.submit-btn:hover {
    background: #79b6f4;
    color: white;
}

nav a:hover {
    background: #f5f5f5;
}
.form-group-2-col-right::after{
    content:"*";
    color: #e32;
    font-weight: bold;
}
}

