$fonts: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$header_background: url(../img/header_background_v2.jpg) no-repeat top/cover;
$header-color: #ff5722;
$content-background: #efefef;
$btn-color: #0401ac;
$article-color: #efefef;
$bgarticle-color: #fff;
$border-color: #c3c3d4;
$placeholder-color: #c3c3d4;
$blog-color: #607d8b;
$article-color: #607d8b;
$post-description-color: #c3c3d4;
$main-text-color: #757575;
$form-text: #607d8b;