$fonts: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$header_background: url(../img/header_background_v1.jpg) no-repeat top/cover;
$header-text: #fff;
$content-background: #fff;
$btn-color: #00adad;
$article-color: #efefef;
