$fonts: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$header_background: url(../img/header_background_v2.jpg);
$header-text: #fff;
$content-background: #fff;
$btn-color: #00adad;
