$fonts: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$header-background: url(../img/header_background_v1.jpg) no-repeat top/cover;
$header-color: #fff;
$content-background: #fff;
$btn-color: #01acac;
$bgarticle-color: #efefef;
$border-color: #607d8b;
$placeholder-color: #000;
$blog-color: #000;
$article-color: #efefef;
$post-description-color: #e90303;
$article-color: #0097a7;
$main-text-color: #222;
$form-text: #0097a7;